@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

router-link {
  color: rgb(30 64 175);
  text-decoration: underline;
  font-weight: bold;
}